@font-face {
  font-family: 'Dirooz';
  src: url('~src/assets/fonts/Dirooz/Dirooz.woff2') format('woff2'),
  url('~src/assets/fonts/Dirooz/Dirooz.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'A Soraya';
  src: url('~src/assets/fonts/ASoraya/ASoraya.eot');
  src: url('~src/assets/fonts/ASoraya/ASoraya.eot?#iefix') format('embedded-opentype'),
  url('~src/assets/fonts/ASoraya/ASoraya.woff2') format('woff2'),
  url('~src/assets/fonts/ASoraya/ASoraya.woff') format('woff'),
  url('~src/assets/fonts/ASoraya/ASoraya.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
